<div id="component-LogIn">


  <div class="contenedorForm">

    <div class="panel">

      <mat-grid-list cols="2" rowHeight="2:1">
        <mat-grid-tile>

          <button ion-button class="active">LogIn</button>
       
          
        </mat-grid-tile>
        <mat-grid-tile>
          <button ion-button>Registrarse</button>
       

        </mat-grid-tile>
      </mat-grid-list>
    </div>


  </div>

  <div class="ContenedorLogInButton">

    <button ion-button>Iniciar Sesión</button>

  </div>

</div>